.outDiv {
    width: 100%;
}

.footerDiv {
    background-color: #f0d46e;
    color: #fff;
    padding: 40px 0;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.listMain{
    display: flex;
}

.logo {
    width: 100px;
    height: 100px;
}

.listDiv {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f0d46e;

}

.listDiv a {
    padding: 0px 10px;
    margin: 0px 10px;
}

li {
    background-color: #f0d46e;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    margin: 0 15px;
    padding: 5px 50px;
}

.home a,
.about a,
.product a,
.visit a,
.facebook a,
.twitter a,
.instagram a,
.youtube a {
    border-left: 4px solid transparent;
}

.home :hover,
.about :hover,
.product :hover,
.visit :hover,
.facebook :hover,
.twitter :hover,
.instagram :hover,
.youtube :hover {
    border-left: 4px solid white;
}

.formDiv {
    display: flex;
    flex-direction: column;
    background-color: #f0d46e;
    padding: 20px;
    text-align: center;
    color: #000000;
}

.formDiv form {
    display: flex;
    justify-content: center;
    gap: 2px;
}

.formDiv input[type="text"] {
    width: 150px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 0px;
    outline: none;
}

.formDiv input[type="submit"] {
    background-color: #ffb522;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0px;
    transition: background-color 0.3s ease;
}

.formDiv input[type="submit"]:hover {
    background-color: #e89a00;
}

.footerP {
    margin-top: 20px;
    color: #ffffff;
    background-color: #f0d46e;
    font-weight: 500;
    font-size: 16px;
}

@media only screen and (max-width:3000px) and (min-width:1950px) {
    .logo {
        width: 150px;
        height: 150px;
    }

    li {
        font-size: 26px;
        margin: 0 5px;
        padding: 5px 10px;
    }

    .formDiv input[type="text"] {
        width: 250px;
        font-size: 22px;
    }

    .formDiv input[type="submit"] {
        padding: 8px 16px;
        font-size: 22px;
    }

    .footerP {
        font-size: 22px;
    }
}

@media only screen and (max-width:1950px) and (min-width:1500px) {
    .logo {
        width: 125px;
        height: 125px;
    }

    li {
        font-size: 22px;
        margin: 0 5px;
        padding: 5px 10px;
    }

    .formDiv input[type="text"] {
        width: 230px;
        font-size: 20px;
    }

    .formDiv input[type="submit"] {
        padding: 8px 16px;
        font-size: 20px;
    }

    .footerP {
        font-size: 20px;
    }
}

@media only screen and (max-width:1500px) and (min-width:1200px) {
    .logo {
        width: 100px;
        height: 100px;
    }

    li {
        font-size: 18px;
        margin: 0 5px;
        padding: 5px 10px;
    }

    .formDiv input[type="text"] {
        width: 160px;
        font-size: 15px;
    }

    .formDiv input[type="submit"] {
        padding: 8px 16px;
        font-size: 15px;
    }

    .footerP {
        font-size: 15px;
    }
}

@media only screen and (max-width:1200px) and (min-width:800px) {
    .logo {
        width: 80px;
        height: 80px;
    }

    li {
        font-size: 13px;
        margin: 0 5px;
        padding: 5px 10px;
    }

    .formDiv input[type="text"] {
        width: 120px;
        font-size: 10px;
        padding: 5px 12px;
    }

    .formDiv input[type="submit"] {
        padding: 5px 12px;
        font-size: 10px;
    }

    .footerP {
        font-size: 10px;
    }
}

@media only screen and (max-width:800px) and (min-width:580px) {
    .logo {
        width: 55px;
        height: 55px;
    }

    li {
        font-size: 10px;
        margin: 0 3px;
        padding: 3px 5px;
    }

    .formDiv input[type="text"] {
        width: 70px;
        font-size: 7px;
        padding: 3px 8px;
    }

    .formDiv input[type="submit"] {
        padding: 3px 8px;
        font-size: 7px;
    }

    .footerP {
        font-size: 6px;
    }
}

@media only screen and (max-width:580px) and (min-width:425px) {
    .footerDiv {
        padding: 30px 0px;
        margin: 0;
        flex-direction: column;
        gap: 10px;
    }
    
    .logo {
        width: 70px;
        height: 70px;
    }
    
    .listDiv a {
        padding: 0px;
        margin: 0px;
    }
    
    li {
        font-size: 12px;
        margin: 0px;
        padding: 5px 30px;
    }
    
    .formDiv input[type="text"] {
        width: 120px;
        padding: 6px 12px;
        font-size: 10px;
    }
    
    .formDiv input[type="submit"] {
        padding: 6px 12px;
        font-size: 10px;
    }
    
    .footerP {
        font-size: 10px;
    }
}

@media only screen and (max-width:425px) and (min-width:280px) {
    .footerDiv {
        padding: 30px 0px;
        margin: 0;
        flex-direction: column;
        gap: 10px;
    }
    
    .logo {
        width: 70px;
        height: 70px;
    }
    
    .listDiv a {
        padding: 0px;
        margin: 0px;
    }
    
    li {
        font-size: 12px;
        margin: 0px;
        padding: 5px 30px;
    }
    
    .formDiv input[type="text"] {
        width: 120px;
        padding: 6px 12px;
        font-size: 10px;
    }
    
    .formDiv input[type="submit"] {
        padding: 6px 12px;
        font-size: 10px;
    }
    
    .footerP {
        font-size: 10px;
    }
}