.list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.navDiv {
    background-color: antiquewhite;
    height: 65px;
    margin: 0;
    padding: 0;
}

.list {
    background-color: rgb(180, 180, 180);
    font-size: 16px;
    font-weight: 600;
}

.list>li {
    background-color: transparent;
    padding: 23px 15px 20px 15px;
}

a {
    background-color: transparent;
}

._home,
._serv,
._about,
._contact,
._sign {
    border-bottom: 4px solid transparent;
    transition: all 0.6s ease-in-out;
    color: black;
}

._home:hover,
._serv:hover,
._about:hover,
._contact:hover,
._sign:hover {
    border-bottom: 4px solid rgb(255, 255, 255);
    color: white;
}