@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-geist-sans: "GeistSans", sans-serif;
  /* Fallback to sans-serif */
  --font-geist-mono: "GeistMono", monospace;
  /* Fallback to monospace */
}

.divOut {
  padding: 0;
  margin: 0;
}

.divM {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 100px 10px;
}

.divT {
  width: 70%;
}

.divT>p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 65px;
}

._splW {
  color: rgb(13, 255, 0);
  font-family: var(--font-geist-sans);
  transition: all 0.5s ease-in-out;

}

._name {
  color: rgb(235, 214, 99);
  transition: all 0.5s ease-in-out;
}

.divI {
  width: 380px;
  height: 500px;
  overflow: hidden;
  position: relative;
}

.divI>img {
  width: 380px;
  height: auto;
  opacity: 0.7;
  transition: transform 0.5s ease-in-out;

}

.divI > img:hover {
  transform: scale(1.2); 
}


._splW:hover {
  color: black;
  cursor: pointer;
}

._name:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  background-color: #efefef;
}
